// Place all the styles related to the document controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.base_flex {
  display: flex;
  height: auto;
  flex-direction: row;

  .lpanel {
    max-width: 35%;
    min-width: 20%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    background-color: #2E2F30;
    
    h3 {
      color: ghostwhite;
    }
    
    a {
      $text-color: #4699AA;
      text-decoration:none;
      color: $text-color;
      &:hover { color: $text-color + #555; }
    }

    display: flex;
    flex-direction: row-reverse;

    .list {
      min-width: 50%;
    }

  }

  .rpanel {
    flex: 1;
    max-width: 800px;
    padding-left: 50px;

    .parameters {
      max-width: 600px;
      height: auto;
      display: -webkit-flex;
      display: flex;

      .parameters_lcolumn {
        min-width: 40%;
        display: flex;
        flex-direction: column;

        .name {
          min-height: 20px;
          font-size: larger;
          font-weight: bold;
        }

        .requirement {
          flex: 1;

          .optional { color: darkgrey }
          .required { color: orangered }
        }
      }

      .parameters_rcolumn {
        flex: 1;
        display: flex;
        flex-direction: column;

        .discription {
          flex: 1;
          color: #335588;
          font-weight: lighter;
        }

        .example_value {
          min-height: 30px;
          font-size: smaller;
          .bold { font-weight: bold; }
        }
      }
    }
  }
}